body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;
}

h1 {
    margin-top: 20px;
    font-size: 28px;
}

.container {
    margin-top: 20px;
}

canvas {
    background: #111;
    border: 2px solid #00ffff;
    border-radius: 10px;
    box-shadow: 0 0 20px cyan;
}

/* Panel kontrol */
.controls {
    margin-top: 20px;
}

label {
    display: block;
    margin: 10px;
}

input[type="range"] {
    width: 250px;
}

/* Glow teks kecil */
.info {
    margin-top: 15px;
    font-size: 14px;
    color: #ccc;
}